# 数据集（太大，不上传）
data/bdd100k/images/
data/bdd100k/labels/
data/bdd100k/labels_yolo/

# 模型权重
*.pt
*.pth
*.onnx
*.engine
runs/
__pycache__/
*.pyc

# 视频（不上传，用 GIF 替代）
*.mp4
*.avi

# 系统
.idea/
.cache/
test_detected.jpg
