# 数据集（太大，不上传）
data/bdd100k/images/
data/bdd100k/labels/
data/bdd100k/labels_yolo/

# 模型权重
*.pt
*.pth
*.onnx
*.engine
runs/
__pycache__/
*.pyc

# 视频和大图（示例图除外）
*.mp4
*.avi
!assets/*.jpg
!assets/*.png

# 系统
.idea/
.cache/